# https://editorconfig.org/ configures editor spacing and styling
# should be used by prettier but is not detected when used with pre-commit for some reason
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_size = 4

[Makefile]
indent_style = tab
