version: 2.1

orbs:
  python: circleci/python@1.0

jobs:
  build:
    parameters:
      python-version:
        type: string
    executor:
      name: python/default
      tag: << parameters.python-version >>
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: poetry
      - run:
          command: make verify
      - run:
          command: make test

workflows:
  main:
    jobs:
      - build:
          matrix:
            parameters:
              python-version: ["3.12"]
